[Unit]
Description=Internet Service Provider monitor outage reporting sidecar timer
Requires=ispMonCollate.service

[Timer]
Unit=ispMonCollate.service
OnCalendar=hourly
AccuracySec=1m

[Install]
WantedBy=timers.target
